/* lab 7 - task2.css */

body {
  font-family: sans-serif;
}
h2 { font-family: sans-serif;
     margin: 1px;
   text-align: center;}

.input { width: 20em;  }

.types {
  font-family: monospace;
  font-size: 1.25em;
  font-weight: bold;
}

p {
  margin: 10px;
}

.box {

  margin-top: 20px;
  margin-left: 5%;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color: rgb(220,220,220);
}

 .fieldName {
   display: inline-block;
   width: 20%;
   padding-right: 10px;
   font-family: sans-serif;
 }

 .message {
   font-family: monospace;
   color: blue;
   margin-left: 1px;
   width: 10  em;
   height: 1em;
   display: inline-block;
 }
